body {
  margin: 0;
  background-image: url("../public/wallpaperbetter.jpg");
  background-size:150%;
  background-position:center;
  font-family: cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
